p_29032021
[{"id":"1262d999.8f3b96","type":"tab","label":"CVD Equipment","disabled":false,"info":""},{"id":"58e028a1.482908","type":"mqtt out","z":"1262d999.8f3b96","name":"publish_particle_status","topic":"device/part_status","qos":"0","retain":"","broker":"ecb52704.780b98","x":1170,"y":300,"wires":[]},{"id":"8cd7cbce.ff1688","type":"delay","z":"1262d999.8f3b96","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":300,"wires":[["58e028a1.482908"]]},{"id":"c2ee162d.f050d8","type":"ui_button","z":"1262d999.8f3b96","name":"","group":"ea5c43bc.4a909","order":5,"width":"10","height":"1","passthru":false,"label":"START","tooltip":"","color":"BLACK","bgcolor":"GREEN","icon":"","payload":"START","payloadType":"str","topic":"","topicType":"str","x":320,"y":200,"wires":[["c4be148f.d672c8"]]},{"id":"e63a12c.146bcf","type":"ui_text","z":"1262d999.8f3b96","group":"ea5c43bc.4a909","order":1,"width":"10","height":"1","name":"","label":"STATUS","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":380,"wires":[]},{"id":"56750bc3.a5e994","type":"ui_button","z":"1262d999.8f3b96","name":"","group":"ea5c43bc.4a909","order":6,"width":"10","height":"1","passthru":false,"label":"STOP","tooltip":"","color":"WHITE","bgcolor":"RED","icon":"","payload":"STOP","payloadType":"str","topic":"","topicType":"str","x":250,"y":460,"wires":[["26b2a0f0.f27af"]]},{"id":"8cb12a2.b25d8d8","type":"switch","z":"1262d999.8f3b96","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"NG","vt":"str"},{"t":"eq","v":"STOP","vt":"str"},{"t":"eq","v":"RUNNING","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":650,"y":460,"wires":[["8cd7cbce.ff1688","e73be923.4d5fd8","c6571352.ab4f9","8787d0ef.a47b6"],["e63a12c.146bcf","44f3ead5.cfab74"],["6b119a13.36b064","e63a12c.146bcf","8f23e795.9653e8","fe57937f.45202"],[]]},{"id":"26b2a0f0.f27af","type":"function","z":"1262d999.8f3b96","name":"check payload","func":"var tid=global.get(\"toolidname\");\nvar cid=global.get(\"chamberidname\");\nvar cstate=global.get(\"currentstatus\");\n\nif (msg.payload===cstate)\n{\n    global.set(\"currentstatus\", msg.payload)\n    msg.payload = \"RUNNING\"\n}\nelse {\n    if (msg.payload===\"START\")\n    {\n        global.set(\"currentstatus\", msg.payload)\n        if (tid===\"\")\n        {\n            msg.payload = \"NG\";\n        }\n        //else\n        //{\n        //  msg.payload =msg.payload + \",\" + tid;\n        //}\n    }\n    else\n    {\n        global.set(\"currentstatus\", msg.payload);\n        msg.payload=\"STOP\";\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":460,"wires":[["8cb12a2.b25d8d8"]]},{"id":"44f3ead5.cfab74","type":"ui_toast","z":"1262d999.8f3b96","position":"top right","displayTime":"3","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"TOOL ID and CHAMBER ID are required!","name":"","x":970,"y":340,"wires":[],"icon":"font-awesome/fa-close"},{"id":"6b119a13.36b064","type":"ui_toast","z":"1262d999.8f3b96","position":"top right","displayTime":"3","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Data Collection STOP","name":"","x":970,"y":420,"wires":[],"icon":"font-awesome/fa-close"},{"id":"cb4e71c9.8cdf5","type":"function","z":"1262d999.8f3b96","name":"tool_id","func":"//var cstate=global.get(\"currentstatus\");\n//if (cstate === \"STOP\")\n//{\n//    global.set(\"toolidname\", msg.payload);\n//}\n//else\n//{\n//     msg.payload = \"NG\"\n//}\nglobal.set(\"toolidname\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["e78308eb.7bb7f8","87be7cb1.a81ba"]]},{"id":"1ecb8339.fe669d","type":"function","z":"1262d999.8f3b96","name":"chamber_id","func":"global.set(\"chamberidname\", \"PARTICLE_COUNT\")\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":40,"wires":[["d69e6554.d16178"]]},{"id":"999ec24a.93043","type":"mqtt in","z":"1262d999.8f3b96","name":"Subscribe_Data","topic":"device/datacollection","qos":"0","datatype":"auto","broker":"ecb52704.780b98","x":1140,"y":220,"wires":[["dc3d2705.9df388"]]},{"id":"ed57d26c.65ce2","type":"debug","z":"1262d999.8f3b96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":40,"wires":[]},{"id":"e73be923.4d5fd8","type":"function","z":"1262d999.8f3b96","name":"tool_id","func":"var str = msg.payload;\nvar n = str.indexOf(\"START\");\nif (n === 0)\n{\n    msg.payload = \"START\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["e63a12c.146bcf"]]},{"id":"d69e6554.d16178","type":"ui_text","z":"1262d999.8f3b96","group":"ea5c43bc.4a909","order":3,"width":"10","height":"1","name":"","label":"CHAMBER ID:  ","format":"PARTICLE_1","layout":"row-spread","x":280,"y":40,"wires":[]},{"id":"3baa4e14.e40ab2","type":"ui_dropdown","z":"1262d999.8f3b96","name":"Tool ID List","label":"TOOL ID:","tooltip":"","place":"Select ToolID","group":"ea5c43bc.4a909","order":4,"width":"10","height":"1","passthru":true,"multiple":false,"options":[{"label":"AMCVD100","value":"AMCVD100","type":"str"},{"label":"AMCVD200","value":"AMCVD200","type":"str"}],"payload":"","topic":"toolid_name","topicType":"msg","x":110,"y":80,"wires":[["cb4e71c9.8cdf5"]]},{"id":"dc3d2705.9df388","type":"ui_text","z":"1262d999.8f3b96","group":"ea5c43bc.4a909","order":2,"width":"10","height":"1","name":"","label":"PARTICLE DATA","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":180,"wires":[]},{"id":"8f23e795.9653e8","type":"mqtt out","z":"1262d999.8f3b96","name":"publish_particle_status","topic":"device/part_status","qos":"0","retain":"","broker":"ecb52704.780b98","x":990,"y":460,"wires":[]},{"id":"c6571352.ab4f9","type":"function","z":"1262d999.8f3b96","name":"tool_id","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":260,"wires":[["dc3d2705.9df388"]]},{"id":"8787d0ef.a47b6","type":"function","z":"1262d999.8f3b96","name":"disableStart","func":"if (msg.payload == \"STOP\")\n{\n    msg.enabled=true;\n}\nelse\n{\n    msg.enabled=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":180,"wires":[["c2ee162d.f050d8"]]},{"id":"fe57937f.45202","type":"function","z":"1262d999.8f3b96","name":"enableStart","func":"msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":240,"wires":[["c2ee162d.f050d8"]]},{"id":"7bc2c843.b7e4e8","type":"inject","z":"1262d999.8f3b96","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":440,"wires":[["636c6dfb.23c6b4"]]},{"id":"636c6dfb.23c6b4","type":"function","z":"1262d999.8f3b96","name":"enableStart","func":"msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":400,"wires":[["c2ee162d.f050d8"]]},{"id":"e78308eb.7bb7f8","type":"mqtt out","z":"1262d999.8f3b96","name":"publish_eqp_id","topic":"device/eqpid","qos":"0","retain":"","broker":"ecb52704.780b98","x":480,"y":80,"wires":[]},{"id":"b3e48a20.a4f518","type":"function","z":"1262d999.8f3b96","name":"tool_id","func":"global.set(\"modState\", msg.payload);\nif (msg.payload === false)\n{\n    msg.payload = \"DISCONNECT\";\n}\nelse\n{\n    msg.payload = \"CONNECTED\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":580,"wires":[[]]},{"id":"86b8b2df.d232e","type":"ui_text","z":"1262d999.8f3b96","group":"47a8c6d4.0f61e8","order":7,"width":"10","height":"1","name":"","label":"MQTT:","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":580,"wires":[]},{"id":"327e4d9d.dd1b32","type":"ui_text","z":"1262d999.8f3b96","group":"47a8c6d4.0f61e8","order":7,"width":"10","height":"1","name":"","label":"MODBUS:","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":640,"wires":[]},{"id":"c4899266.b57a1","type":"ping","z":"1262d999.8f3b96","mode":null,"name":"modbus_ip","host":"192.168.100.100","timer":"5","inputs":0,"x":120,"y":580,"wires":[["b3e48a20.a4f518"]]},{"id":"890054af.6c05a8","type":"mqtt in","z":"1262d999.8f3b96","name":"","topic":"device/eqpid","qos":"1","datatype":"auto","broker":"ecb52704.780b98","x":130,"y":680,"wires":[[]]},{"id":"87be7cb1.a81ba","type":"debug","z":"1262d999.8f3b96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":700,"wires":[]},{"id":"4a7e44ef.2e04ac","type":"switch","z":"1262d999.8f3b96","name":"MODBusStatus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"DISCONNECT","vt":"str"},{"t":"eq","v":"CONNECTED","vt":"str"},{"t":"eq","v":"NOTOOLID","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":540,"y":240,"wires":[["e869ab45.c40888"],["26b2a0f0.f27af"],["5439341f.7f12cc"],[]]},{"id":"e869ab45.c40888","type":"ui_toast","z":"1262d999.8f3b96","position":"top right","displayTime":"3","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"MODBus Disconnected","name":"ModBusDisconnected","x":980,"y":140,"wires":[],"icon":"font-awesome/fa-close"},{"id":"c4be148f.d672c8","type":"function","z":"1262d999.8f3b96","name":"modbus_eqp_state_chk","func":"var tid=global.get(\"modState\");\nvar eid=global.get(\"toolidname\");\nif (eid == null)\n{\n    msg.payload = \"NOTOOLID\";\n}\nelse {\n    if (tid === false)\n    {\n        msg.payload = \"DISCONNECT\";\n    }\n    else\n    {\n        msg.payload = \"CONNECTED\";\n    }    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":140,"wires":[["4a7e44ef.2e04ac"]]},{"id":"5439341f.7f12cc","type":"ui_toast","z":"1262d999.8f3b96","position":"top right","displayTime":"3","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"NO EQUIPMENT ID","name":"noToolID","x":940,"y":100,"wires":[],"icon":"font-awesome/fa-close"},{"id":"ed9c73a1.9a31a","type":"comment","z":"1262d999.8f3b96","name":"Check Modbus connection","info":"","x":170,"y":540,"wires":[]},{"id":"e6dcd3f3.34251","type":"comment","z":"1262d999.8f3b96","name":"Receive EQP ID","info":"","x":140,"y":640,"wires":[]},{"id":"777a9aa9.5e8f04","type":"comment","z":"1262d999.8f3b96","name":"STOP Data collection","info":"","x":300,"y":420,"wires":[]},{"id":"cfdb2423.8a9e48","type":"comment","z":"1262d999.8f3b96","name":"START Data collection","info":"","x":320,"y":160,"wires":[]},{"id":"f965b1ac.fa516","type":"function","z":"1262d999.8f3b96","name":"mqtt_check","func":"if (msg.payload === \"0\")\n{\n    msg.payload = \"CONNECTED\";\n}\nelse\n{\n    msg.payload = \"DISCONNECTED\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":580,"wires":[["86b8b2df.d232e"]]},{"id":"ca9898f7.8081e8","type":"mqtt in","z":"1262d999.8f3b96","name":"modbus_state","topic":"device/modbusbit","qos":"0","datatype":"auto","broker":"ecb52704.780b98","x":590,"y":640,"wires":[["bd1ae9fa.428378"]]},{"id":"bd1ae9fa.428378","type":"function","z":"1262d999.8f3b96","name":"mqtt_check","func":"if (msg.payload != 0)\n{\n    msg.payload = \"CONNECTED\";\n}\nelse\n{\n    msg.payload = \"DISCONNECTED\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":640,"wires":[["327e4d9d.dd1b32","87be7cb1.a81ba"]]},{"id":"6c2c547.c3785ac","type":"mqtt in","z":"1262d999.8f3b96","name":"mqtt_state","topic":"device/mqttstate","qos":"0","datatype":"auto","broker":"ecb52704.780b98","x":580,"y":580,"wires":[["f965b1ac.fa516"]]},{"id":"ecb52704.780b98","type":"mqtt-broker","name":"particle_sub","broker":"emqx@127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ea5c43bc.4a909","type":"ui_group","name":"CVD PARTICLE DATA COLLECTION","tab":"a24017e6.f62b28","order":1,"disp":true,"width":"10","collapse":false},{"id":"47a8c6d4.0f61e8","type":"ui_group","name":"CVD CONNECTION STATUS","tab":"a24017e6.f62b28","order":2,"disp":true,"width":"10","collapse":false},{"id":"a24017e6.f62b28","type":"ui_tab","name":"CVD EQUIPMENT","icon":"dashboard","disabled":false,"hidden":false}]
